@font-face {
    font-family: 'I Still Know';
    src: url('assets/IStillKnow.woff2') format('woff2'),
        url('assets/IStillKnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.item {
    width: 45vw;
    font-size: 40px;
}
.item .label {
    opacity: 0;
    transition: opacity 500ms ease-in;
    visibility: hidden;
}

.item.show .label {
    visibility: visible;
    opacity: 1;
}

.item .number {
    margin-right: 30px;
}

html body, .jumbotron-container {
    font-family: 'I Still Know';
    font-weight: normal;
    font-style: normal;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.header {
    padding: 32px;
    font-size: 100px;;
}
.jumbotron-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.jumbotron-container .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}
#list-controls {
    display: flex;
    flex-direction: column;
}
#list-controls .item {
    font-size: 14px;
}
.strike-counter {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    top:  10px;
    right: 10px;
    width: 200px;
    height: 100px;
    font-size: 50px;
}
.red-x {
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 500ms ease-in;
    visibility: hidden;
}
.red-x.show {
    visibility: visible;
    opacity: 1;
}
.question {
    width: 100%;
    font-size: 55px;
}
.answers {
    display: flex;
    flex-wrap: wrap;
}